/*
Text sublimator - аutomatic text summarization
Copyright © 2018 Kazakov Vladimir M. <vmkazakoff@gmail.com>
MIT License (https://raw.githubusercontent.com/vmkazakoff/summary/master/LICENSE)
*/

.container {
	width: 100%;
}
.custom_logo {
	font-weight: 600;
	font-size: 1.2rem !important;
}
.navigation.bottom {
	position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.navigation.bottom .collapsible {
    margin: 0;
}
.settings .hight460 {
	height: 460px;
	max-height: 460px;
	overflow: auto;
}
.navigation.bottom .settings {
	padding: 0;
}
.navigation.bottom .collapsible-header {
	position: relative;
	transition: all 0.2s;
}
.navigation.bottom .active .collapsible-header {
	
}
.navigation.bottom .btn-floating {
    right: 15px;
    position: absolute;
    bottom: 25px;
    z-index: 1000;
}
.navigation.bottom i {
	margin: 0;
}
.navigation.bottom .opened {
	display: none;
}
.navigation.bottom .active .opened {
	display: inline;
}
.navigation.bottom .active .closed {
	display: none;
}


.scored {
	cursor: default;
}
.scored .score {
	color: #ddd;
}
blockquote.otherMessages {
    border-left: 5px solid #cfd8dc;
}
#showScoredMessagesLabel label,
#showOtherMessagesLabel label {
	font-size: 1rem;
}
.nooverflow {
	overflow: hidden;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.pleft {
	left: 10px;
}
.pright {
	right: 10px;
}
.hidden {
	display: none;
}
.text-small {
	font-size: .8rem;
}
.scale-transition-ease {
    transition: transform 0.3s ease-in-out !important;
}
.scale-transition.scale-out {
	height: 0px;
	overflow: hidden;
}

.readmore:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    width: 100%;
    top: 6px;
    border-top: 1px dotted #ddd;
}
.readmore {
    position: relative;
    text-align: center;
    display: block;
    font-size: 10px;
    color: #ddd;
}
.readmore span {
	background: #fff;
    padding: 0 10px;
    border: 1px dotted;
    border-radius: 10px;
}

.stopWord {
	color: #ddd;
}

/* скрываем пока не загрузится 
.container {
	display: none;
}
.preloader-wrapper.active {
	z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
}
*/

.chip .chip-counter {
    float: left;
    background-color: rgba(255,255,255,0.5);
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
}
.chip i.material-icons {
    line-height: 32px;
}

.collapsible-body {
	overflow: hidden;
	padding: 1rem .2rem;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    display: inline-block;
}

textarea {
    overflow-y: scroll !important; 
    height: 14rem !important;
}
.noborder {
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.noshadow {
	box-shadow: none;
}
