/*
Text sublimator - аutomatic text summarization
Copyright © 2018 Kazakov Vladimir M. <vmkazakoff@gmail.com>
MIT License (https://raw.githubusercontent.com/vmkazakoff/summary/master/LICENSE)
*/

/*
header, main, footer {
    padding-left: 300px;
}
*/

body {
	margin-bottom: 85px;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .7;
}

.custom_logo {
	font-weight: 600;
	font-size: 1.2rem !important;
}
.left.custom_logo {
	padding-left: 1rem !important;
}

.navigation.bottom {
	position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.navigation.bottom .collapsible {
    margin: 0;
}
.settings .hight460 {
	height: 460px;
	max-height: 460px;
	overflow: auto;
}
.navigation.bottom .settings {
	padding: 0;
}
.navigation.bottom .collapsible-header {
	position: relative;
	transition: all 0.2s;
}
.navigation.bottom .active .collapsible-header {

}
.navigation.bottom .btn-floating {
    right: 15px;
    position: absolute;
    bottom: 25px;
    z-index: 1000;
}
.navigation.bottom i {
	margin: 0;
}
.navigation.bottom .opened {
	display: none;
}
.navigation.bottom .active .opened {
	display: inline;
}
.navigation.bottom .active .closed {
	display: none;
}


.scored {
	cursor: default;
}
.scored .score {
	color: #ddd;
}

#showScoredMessagesLabel label,
#showOtherMessagesLabel label {
	font-size: 1rem;
}
.nooverflow {
	overflow: hidden;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.pleft {
	left: 10px;
}
.pright {
	right: 10px;
}
.hidden {
	display: none;
}
.text-small {
	font-size: .8rem;
}

.progress-container {
	position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 3px;
}

.progress-bar {
  height: 3px;
  width: 0%;
}

.readmore:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    width: 100%;
    top: 6px;
    border-top: 1px dotted #ddd;
}
.readmore {
    position: relative;
    top:-7px;
    text-align: center;
    display: block;
    font-size: 10px;
    color: #ddd;
	margin-top: 0px;
}
.readmore span {
	background: #fff;
    padding: 0 10px;
    border: 1px dotted;
    border-radius: 10px;
}

.reload {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 100%;
	padding: 10px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	cursor: pointer;
}
.reload-background {
	display: block;
	z-index: 10;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 300;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.menu-button {
  position: fixed;
	white-space: nowrap;
  padding: 0 2rem;
  border-radius: 2rem;
  bottom: 23px;
  right: 50%;
  height: 56px;
  line-height: 56px;
  transform: translate(50%,0);
  z-index: 997;
}

.menu-button .menu-button-settings {
	transition: opacity .5s, transform .3s;
  transform: translate(-2px, 6px) rotate(-180deg) scale(0.5);
	position: relative;
  right: 30px;
	margin-right: -25px;
  opacity: 0;
}
.menu-button .menu-button-logo {
	transform: translate(-2px, 6px) rotate(270deg) scale(1);
  transition: opacity .5s;
}
#slide-out[style="transform: translateX(0%);"]+.menu-button .menu-button-settings,
.menu-button:focus .menu-button-settings,
.menu-button:hover .menu-button-settings {
	transform: translate(-2px, 6px) rotate(0deg) scale(1);
  opacity: 1;
}
#slide-out[style="transform: translateX(0%);"]+.menu-button .menu-button-logo,
.menu-button:focus .menu-button-logo,
.menu-button:hover .menu-button-logo {
	transform: translate(-2px, 6px) rotate(360deg) scale(0.5);
	transition: opacity .3s, transform .3s;
  opacity: 0;
}


#messages {
	margin-top: 1em;
	min-height: 90%;
}
#messages p {
	margin: 1em auto;
	padding: 0 1em;
	max-width: 800px;
}


#messages .collapsible {
	margin: 0 0 20px 0;
	border-top: none;
  border-right: none;
  border-left: none;
	box-shadow: none;
}
#messages  .collapsible-header {
	background-color: transparent;
  border-bottom: none;
  text-align: center;
	display: block;
	margin-bottom: -10px;
	padding: 0;
}
#messages .collapsible .collapsible-body {
	padding: 0;
	border-top: 1px dotted #ddd;
	border-bottom: 1px dotted #ddd;
	max-height: 50%;
  overflow: auto;
}
#messages .collapsible li.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#messages .modal-overlay {
	background-color: #ddd;
	opacity: 0.3;
}


.collapsible-body .switch label {
	height: 48px;
  line-height: 48px;
}

.input-field .prefix.postfix ~ .autocomplete-content {
	max-height: 200px !important;
}

.dropdown-content li>a, .dropdown-content li>span,
#keywords .collection-item {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}
#keywords .collection-item.reveal {
	overflow: unset;
	text-overflow: unset;
	white-space: unset;
}

#keywords.collection .collection-item.avatar i.circle {
	width: 24px;
  height: 24px;
	left: unset;
	right: 10px;
	font-size: 16px;
  line-height: 24px;
}
#keywords.collection .collection-item.avatar i.circle:hover {
	background: #F44336 !important;
}
#keywords.collection .collection-item.avatar {
	min-height: 0;
  padding: 10px 45px 10px 10px;
}

.chip .chip-counter {
    float: left;
    background-color: rgba(255,255,255,0.5);
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
}
.chip i.material-icons {
    line-height: 32px;
}

.collapsible-body {
	overflow: hidden;
	padding: 1rem .2rem;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    display: inline-block;
}

textarea {
    overflow-y: scroll !important;
    height: 14rem !important;
}
.noborder {
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.noshadow {
	box-shadow: none;
}

body {
	background-color: #fafafa;
}
body:not(.night_mode) .night_mode_off{
	display: none;
}
body.night_mode .night_mode_on{
	display: none;
}
body.night_mode .modal,
body.night_mode .modal-footer,
body.night_mode .btn-flat,
body.night_mode #keywords.collection .collection-item.avatar i.circle,
body.night_mode .readmore span,
body.night_mode {
	background-color: #222 !important;
	color: #eee  !important;
}
body.night_mode .sidenav .collapsible-body,
body.night_mode .sidenav.fixed .collapsible-body,
body.night_mode .collection .collection-item,
body.night_mode .sidenav {
	background-color: #333;
}
body.night_mode .sidenav li>a>i,
body.night_mode .sidenav li>a>[class^="mdi-"],
body.night_mode .sidenav li>a li>a>[class*="mdi-"],
body.night_mode .sidenav li>a>i.material-icons,
body.night_mode .sidenav li>a {
	color: #eee;
}



/* NEW */
.sidenav li>a {
  padding: 0 16px;
}
.sidenav label {
  line-height: initial;
}
.sidenav .thumb .value {
  line-height: initial;
}



.input-field .postfix {
    right: 0;
    color: #ddd;
}
.input-field .prefix.postfix ~ input,
.input-field .prefix.postfix ~ textarea,
.input-field .prefix.postfix ~ label,
.input-field .prefix.postfix ~ .validate ~ label,
.input-field .prefix.postfix ~ .helper-text,
.input-field .prefix.postfix ~ .autocomplete-content {
    margin-left: 0;
    width: 100%;
}
